body {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 1000'%3E%3Cg %3E%3Ccircle fill='%23BCFFF4' cx='50' cy='0' r='50'/%3E%3Cg fill='%23c0faf5' %3E%3Ccircle cx='0' cy='50' r='50'/%3E%3Ccircle cx='100' cy='50' r='50'/%3E%3C/g%3E%3Ccircle fill='%23c3f4f5' cx='50' cy='100' r='50'/%3E%3Cg fill='%23c6eef6' %3E%3Ccircle cx='0' cy='150' r='50'/%3E%3Ccircle cx='100' cy='150' r='50'/%3E%3C/g%3E%3Ccircle fill='%23cae8f6' cx='50' cy='200' r='50'/%3E%3Cg fill='%23cde2f7' %3E%3Ccircle cx='0' cy='250' r='50'/%3E%3Ccircle cx='100' cy='250' r='50'/%3E%3C/g%3E%3Ccircle fill='%23d0dcf7' cx='50' cy='300' r='50'/%3E%3Cg fill='%23d3d6f8' %3E%3Ccircle cx='0' cy='350' r='50'/%3E%3Ccircle cx='100' cy='350' r='50'/%3E%3C/g%3E%3Ccircle fill='%23d6cff8' cx='50' cy='400' r='50'/%3E%3Cg fill='%23dac9f9' %3E%3Ccircle cx='0' cy='450' r='50'/%3E%3Ccircle cx='100' cy='450' r='50'/%3E%3C/g%3E%3Ccircle fill='%23ddc2fa' cx='50' cy='500' r='50'/%3E%3Cg fill='%23e0bafa' %3E%3Ccircle cx='0' cy='550' r='50'/%3E%3Ccircle cx='100' cy='550' r='50'/%3E%3C/g%3E%3Ccircle fill='%23e3b3fb' cx='50' cy='600' r='50'/%3E%3Cg fill='%23e6abfb' %3E%3Ccircle cx='0' cy='650' r='50'/%3E%3Ccircle cx='100' cy='650' r='50'/%3E%3C/g%3E%3Ccircle fill='%23e8a3fc' cx='50' cy='700' r='50'/%3E%3Cg fill='%23eb9afc' %3E%3Ccircle cx='0' cy='750' r='50'/%3E%3Ccircle cx='100' cy='750' r='50'/%3E%3C/g%3E%3Ccircle fill='%23ee91fd' cx='50' cy='800' r='50'/%3E%3Cg fill='%23f187fd' %3E%3Ccircle cx='0' cy='850' r='50'/%3E%3Ccircle cx='100' cy='850' r='50'/%3E%3C/g%3E%3Ccircle fill='%23f47dfe' cx='50' cy='900' r='50'/%3E%3Cg fill='%23f671fe' %3E%3Ccircle cx='0' cy='950' r='50'/%3E%3Ccircle cx='100' cy='950' r='50'/%3E%3C/g%3E%3Ccircle fill='%23F964FF' cx='50' cy='1000' r='50'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: contain;
  font-family: Arial, Helvetica, sans-serif;
  color: hsl(298, 46%, 21%);
}

.container {
  background-color: white;
  max-width: 500px;
  padding: 5rem 2rem;
  margin: auto;
  border-radius: 0.5rem;
}

table {
  margin: auto;
  border-collapse: collapse;
  width: 500px;
  height: 230px;
  font-family: sans-serif;
  margin-bottom: 2rem;
}

tr,
th,
td {
  border: 1px solid white;
  padding: 0.5rem;
}

th {
  text-align: left;
  background-color: #bcfff4;
}

tr:nth-child(odd) {
  background-color: hsla(298, 100%, 70%, 0.384);
}

tr:nth-child(even) {
  background-color: hsla(170, 100%, 87%, 0.384);
}

form {
  display: flex;
  flex-direction: column;
  margin: auto;
}

input,
label,
button {
  margin-top: 0.5rem;
}

input {
  border: 1px solid #f964ff;
  border-radius: 0.75rem;
  padding: 0.5rem;
}

button {
  height: 1.8rem;
  border: none;
  background-color: #bcfff4;
  cursor: pointer;
  border-radius: 0.75rem;
  font-size: 1rem;
  text-align: center;
}

button:hover {
  background-color: #f964ff;
  color: white;
}

input:focus {
  outline: none;
}

#result {
  margin-top: 1rem;
}

@media (max-width: 616px) {
  body {
    padding: 3rem 0;
  }

  table {
    max-width: 350px;
  }

  .container {
    max-width: 350px;
    padding: 2rem 2rem;
  }
}

@media (max-width: 437px) {
  table {
    max-width: 290px;
  }

  .container {
    max-width: 290px;
    padding: 2rem 2rem;
  }
}

@media (max-width: 373px) {
  body {
    font-size: 0.8rem;
  }

  table {
    max-width: 290px;
  }

  .container {
    max-width: 290px;
    padding: 1rem 1rem;
  }
}

@media (max-width: 350px) {
  table {
    max-width: 250px;
  }

  .container {
    max-width: 250px;
    padding: 1rem 1rem;
  }
}

@media (max-width: 300px) {
  table {
    max-width: 240px;
  }

  .container {
    max-width: 240px;
    padding: 1rem 1rem;
  }
}

@media (max-width: 290px) {
  table {
    max-width: 240px;
  }

  .container {
    max-width: 240px;
    padding: 0.5rem 0.5rem;
  }
}
